.main {
  flex: 1;
  margin-top: 54px;
  width: 90%;
  height: fit-content;
}


.main form {
  display: flex;
  align-items: center;
  gap: 28px;
}

.main form label {
  display: grid;
  place-items: center;
}

.main form input {
  border: none;
  background-color: transparent;
  font-size: 24px;
  width: 335px;
  outline: none;
  color: white;
  width: 80%;
  padding: 14px 0;
  border-bottom: 1px transparent solid;
}

.main form input:focus {
  border-color: #5A698F;
}

.main .firstComponent {
  margin-top: 34px;
  display: grid;
  /* overflow-x: hidden; */
}

.main .header {
  font-size: 32px;
  color: white;
  font-weight: 300;
}

.main .firstComponent .trending {
  display: flex;
  /* grid-auto-flow: column; */
  flex: none;
  margin-top: 25px;
  overflow-x: auto;
  gap: 40px;
  width: 100%;
}

.main .firstComponent .trending::-webkit-scrollbar {
  background-color: transparent;
  height: 7.5px;
}

.main .firstComponent .trending::-webkit-scrollbar-track {
  background-color: transparent;
}

.main .firstComponent .trending::-webkit-scrollbar-thumb {
  background-color: #161D2F;
  border-radius: 15px;
  height: 10px;
}

.main .firstComponent .trendingShow {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 470px;
  /* flex: 0 0 470px; */
  height: 230px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 24px;
  margin-bottom: 5px;
  background-size: cover;
}

.main .firstComponent .trendingShow .left {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  font-size: 15px;
}

.main .firstComponent .trendingShow .leftComponents {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main .firstComponent .trendingShow .leftComponents span {
  opacity: 0.75;
}

.main .firstComponent .trendingShow .left .header {
  font-size: 20px;
  font-weight: 500;
  opacity: 1 !important;
  margin-top: 3px;
}

.main .firstComponent .trendingShow .right {
  display: flex;
  justify-content: flex-end;
}

.main .firstComponent .trendingShow .right > div {
  background-color: #10141E;
  height: fit-content;
  padding: 9px 10px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  z-index: 15;
  opacity: 0.5;
}

.main .secondComponent {
  margin-top: 40px;
}



.main .secondComponent .show {
  display: grid;
  gap: 8px;

}

.main .secondComponent .show .boxComponents {
  display: flex;
  gap: 10px;
  font-size: 13px;
  opacity: 0.75;
  align-items: center;
}



.main .secondComponent .show .backgroundImage .playButton {
  display: none;
  place-content: center;
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.main .secondComponent .show .backgroundImage .playButton > div {
  display: flex;
  align-items: center;
  background-color: #ffffff25;
  padding: 9px;
  border-radius: 28.5px;
  cursor: pointer;
}

.main .secondComponent .show .backgroundImage .playButton > div > div {
  margin: 0 19px;
}

.main .secondComponent .show .backgroundImage:hover .playButton {
  display: grid;
}


.main .secondComponent .show .backgroundImage > .bookmark {
  padding: 9px 10px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  height: fit-content;
  background-color: #10141E;
  opacity: 0.5;
  z-index: 15;
}

@media (min-width: 1025px) {
  
  .main .secondComponent .shows {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 32px;
    margin-top: 32px;
    color: white;
    transition: all 100ms ease-in;
  }
  
  .main .secondComponent .show .backgroundImage {
    width: 100%;
    
    height: 174px;
    flex-shrink: 0;
    border-radius: 8px;
    background-size: cover;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
}

@media (max-width: 1024px) and (min-width: 800px) {

  .main .secondComponent .shows {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 32px;
    margin-top: 32px;
    color: white;
    transition: all 100ms ease-in;
  }
  
  .main .secondComponent .show .backgroundImage {
    width: 220px;
    height: 140px;    
    flex-shrink: 0;
    border-radius: 8px;
    background-size: cover;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
  
  }
}

@media (max-width: 799px) {
  .main .secondComponent .shows {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 164px);
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 16px;
    margin-top: 32px;
    color: white;
    transition: all 100ms ease-in;
  }
  
  .main .secondComponent .show .backgroundImage {
    width: 100%;
    height: 110px;    
    flex-shrink: 0;
    border-radius: 8px;
    background-size: cover;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
  
  }
}